.btn {
    background-color: blueviolet    ;
    height: 50px;
    width: 150px;
    color: aliceblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgb(151, 83, 214);
}